#wrapper {
    text-align: center;
}
#fav_wrapper {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
img {
    border: 2px solid black;
}
h1 {
    font-size: 3em;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
    -webkit-text-fill-color: black;
    text-fill-color: red;
    -webkit-text-stroke: .05px white;
    text-stroke: 3px white;
}
h2, h3, h4, h5, h6 {
    font-family: 'Montserrat Subrayada', sans-serif;
}
td {
    margin: 0;
}
th {
    color: white;
    padding: 10px;
}
p {
    font-size: .8em;
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    background-image: url('../tomatoes.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}
td a, td a p, p a {
    color: rgb(123, 123, 123);
    text-decoration: none;
    width: 112px;
}
}
tr:hover {
    background-color: rgb(63, 63, 63);
}
#show-more-btn {
    color: #000;
    border: 2px solid rgb(255, 94, 94);
    background-color: rgb(229, 231, 225);
    ;
    font-weight: 600;
    margin: 10px 45%;
}
#show-more-btn:hover {
    background-color: black;
    color: white;
    border-color: black;
    r
}
.red {
    color: rgb(255, 94, 94);
}
.spacer {
    padding: 0 1%;
}
.filter_form {
    margin-top: 3%;
    display: none;
}
.filter_form table {
    margin: 0 auto;
}
.tomato {
    margin: 0;
    float: right;
    border: none;
}