<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='//fonts.googleapis.com/css?family=Montserrat+Subrayada' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/application.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>
  <title>PATS MOVIES</title>
</head>
<body>
    <div id="nav">
    <ul>
        <li><a href="/favorites/1">FAVORITES</a></li>
        <li><a href="/filter/1">PAST FILTERS</a></li>
        <li><a id="filter" href="#">FILTER</a></li>
        <li><a href="/">HOME</a></li>
    </ul>
</div>
  <%= yield %>
</body>
</html>
