<div class="filter_form">
	<form action="/filter" method="Post">
		<table>
			<input type="hidden" name="filter[user_id]" value="1">
			<tr>
				<td><p>Released After: </p> <input type="date" name="filter[release_date]"></td>
				<td><p>Lowest Critic Rating: </p><input type="text" name="filter[critic_rating]"></td>
			</tr>
		</table><br>
		<input type="submit">
	</form>
</div>